.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    @include respond($tab-portrait) {
        padding: 3rem;
    }
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    list-style: none;
    gap: 1.5rem;
    align-items: center;
    
    &__item {
        text-align: center;
    }
    
    &__link:link,
    &__link:visited {
        display: inline-block;
        color: $color-white;
        padding: 2rem;
        transition: all .2s;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;

    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color-white, .05);
        transform: translateY(-1rem);
    }
}

.footer__text {
    color: $color-gray-light-2;
    text-align: center;
    font-size: 1.2rem;
}

.footer__link:link,
.footer__link:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-primary;
    transition: all .2s;
}

.footer__link:hover,
.footer__link:active {
    color: $color-primary-dark;
    background-color: rgba($color-white, .05);
}